<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="./img/nav/ojitos lindos.jpg" class="d-block w-100 c-img" alt="..." />
        <div class="carousel-caption top-0 mt-5 p-5">
          <p class="mt-5 fs-2">
            El arte está ligado a lo que todavía no se crea.
          </p>
          <p>Eduardo Chillida</p>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="./img/nav/relieve.jpg" class="d-block w-100 c-img" alt="..." />
        <div class="carousel-caption top-0 mt-5 p-5">
          <p class="mt-5 fs-2">
            El objetivo del arte no es representar la apariencia externa de
            las cosas, sino su significado interior.
          </p>
          <p>Aristóteles</p>
        </div>
      </div>
      <div class="carousel-item c-item">
        <img src="./img/nav/azulado.jpg" class="d-block w-100 c-img" alt="..." />
        <div class="carousel-caption top-0 mt-5 p-5">
          <p class="mt-5 fs-2">
            A veces hay que estropear un poquito el cuadro para poder
            terminarlo.
          </p>
          <p>Eugène Delacroix</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
          <h2 class="text-center my-4" id="Galeria">
            Galeria
          </h2>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/balsa.jpeg" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "El Rime del antiguo marinero". <br />
                Artista: Gustave Doré. <br />
                Año: 1875. <br />
                Estilo: Ilustración romántica y fantástica. <br />
                Técnica: Grabado o xilografía.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/desktop-wallpaper-john-martin.jpeg" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "Josué ordenando al sol que se detenga en Gabaón."<br />
                Artista: John Martin. <br />
                Año: 1816. <br />
                Estilo: Ilustración romántica. <br />
                Técnica: pintura al óleo. <br />
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/arco.jpeg" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "Las fuentes." <br />
                Artista: Hubert Robert. <br />
                Año: 1787. <br />
                Estilo: Ilustración romántica. <br />
                Técnica: Óleo sobre lienzo.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/moby.jpeg" class="col-img" alt="caida" />
            <div class="card-body">
              <p class="card-text">
                Título: "El Cabo Norte a la luz de la luna" <br />
                Artista: Peder Balke. <br />
                Año: 1848. <br />
                Estilo: Ilustración romántica. <br />
                Técnica: Óleo sobre tela.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/angel.jpeg" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "Estrella fugaz." <br />
                Artista: Witold Pruszkowski. <br />
                Año: 1884. <br />
                Estilo: Ilustración romántica. <br />
                Técnica: óleo sobre tela.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/mujeresnilo.jpeg" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "Mujeres fellahs al borde del Nilo."<br>
                Artista: Léon Belly <br>
                Año: 1856. <br>
                Estilo: Orientalismo, Realismo. <br>
                Técnica: Óleo sobre lienzo.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/marte.jpeg" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "Marte"<br>
                Artista: Giovanni Francesco Romanelli. <br>
                Año: 1856. <br>
                Estilo: Ilustración romántica. <br>
                Técnica: Óleo sobre lienzo.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/celestito.jpeg" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "Almendro en flor"<br>
                Artista: Vincent van Gogh . <br>
                Año: 1890. <br>
                Estilo: Impresionismo. <br>
                Técnica: Óleo sobre tela.
              </p> 
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="./img/galeria/vistaalcielo.webp" class="col-img" alt="" />
            <div class="card-body">
              <p class="card-text">
                Título: "El caminante sobre el mar de nubes"<br>
                Artista: Caspar David Friedrich. <br>
                Año: 1818. <br>
                Estilo: Romancticismo. <br>
                Técnica: Óleo sobre tela.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <main id="Nosotros">
    <section class="titulo">
      <h2 class="text-center my-5">Nosotros</h2>
    </section>
    <section class="container mt-5 mb-5">
      <section class="row justify-content-center">
        <div class="col-12 col-sm-6">
          <figure class="foto">
            <img class="foto-equipo img-fluid rounded" src="./img/personas/amigas.jpg" alt="logo de Brugge">
          </figure>
        </div>
        <article class="col-12 col-sm-6 text-left">
          <p>
            ¡Bienvenidos a nuestra página de arte, creada por dos amigas apasionadas por la creatividad y la expresión artística! Esto es <strong>Arte Puro</strong></p>
          <p>Explora nuestras galerías virtuales cuidadosamente curadas, donde podrás sumergirte en el trabajo de artistas talentosos y descubrir nuevas perspectivas.</p>
          <p>Aqui encontrarás un mundo fascinante donde la creatividad y la belleza se unen en diferentes expresiones artísticas. Nuestro objetivo es brindarte una experiencia visual y emocionalmente enriquecedora a través de diversas formas de arte
          </p>
          <p>Sumérgete en la belleza y la creatividad en nuestra página de arte. ¡Disfruta de la exploración artística y deja que el arte inspire tu vida!</p>
        </article>
      </section>
    </section>
  </main>

    <div class="container py-5" id="Contacto">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h2 class="text-center mb-4">Contáctanos</h2>
          <p>Si tienes alguna pieza de arte para compartir,no lo dudes y envianosla,recuerda llenar en la parte del mensaje con el titulo,artista,año,estilo,y tecnica.Muchas gracias!!!</p>
          
          <form action="/" method="post">
            <div class="form-group">
              <label for="nombre">Nombre Completo</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
              <label for="mensaje">Mensaje</label>
              <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary my-2">Enviar</button>
          </form>
          <p>{{message}}</p>

          <h2>Adjunta el arte que quieres compartir</h2>
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="adjunto">
        <label class="custom-file-label mx-2" for="adjunto">Seleccionar archivo</label>
      </div>
      <div class="input-group-append">
        <button class="btn btn-primary " type="button">
          <i class="fas fa-paperclip"></i> Adjuntar
        </button>
      </div>
    </div>
        </div>
      </div>
    </div>
